*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;

    /* background-color: antiquewhite; */
}

/*Content for value added section----------------------------*/
.img>h5{
    padding:10px 0px;
    padding-bottom: 20px;
font-size: 30px;
font-weight: 500px;
/* display: inline; */
color:#69b342;
}
.img>a{
    /* padding:10px 0px; */
    /* margin-top:1000px; */
    /* background-color: yellow; */
    color:#004461;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*END  Content for value added section----------------------------*/





/*animated images section ===========================>*/

.animated-images{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    /* border:1px solid green; */
    justify-content: space-evenly;
}



/*image 1*/
.image-box{
    width:47%;
    /* border:1px solid black; */
    /* margin:50px auto; */
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    }
    
    .image-box>img{
        width:100%;
        height:auto;
        object-fit: cover;
        /* overflow: hidden; */
        transition: 0.5s;
    }
    
    :hover>.animation-image-1{
        scale: 1.2;
    }
    
    .content{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: 35px;
        font-size: x-large;
        background:transparent;
        /* background-color:rgba(0,0,0,0.2); */
        color:white;
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        transition:all 0.3s;
        padding:20px 20px;
    }
    
    .image-box>.button{
        position: absolute;
        bottom:20px;
        right:10px;
        /* overflow: hidden; */
    }
    
    .image-box>.button>a{
        color:transparent;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 12px;
        background-color:transparent;
        display: block;
        margin:15px;
        /* width:100%; */
        /* height:100%; */
        padding:10px 30px;
        transition: 0.5s;
    }
    
    :hover>.button>a{
        background-color: #23527c;
        border:1px solid #bebebe;
        color:white;
    }
    :hover>.button>a:last-child{
        background-color: #69b342;
    }
    
    .tax-price-info{
        background: linear-gradient(135deg, #12084d 100%, #3567b7 41%, #3a9ecf 99%, 
        #207cca 99%);
        color:white;
        padding:10px 15px;
        position:absolute;
        bottom:30px;
        z-index: 0;
        transition: 0.5s;
        width:100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    :hover>.tax-price-info{
        font-size: large;
    }
/*end image 1*/

/*IMAGE ===========>2<====================*/
.image-box-2{
    width: 47%;
    /* border:2px solid black; */
    /* margin:0 auto; */
    position:relative;
    /* min-height:100vh; */
    overflow:hidden;
}

.image-box-2>img{
    width:100%;
    height:auto;
    transition:all 0.5s;
}
.image-box-2>.content-2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: lightblue; */
    position: absolute;
    top:10px;
    left:6%;
    color:#fff;
    /* position:relative; */
    line-height:30px;
}
.image-box-2>.content-2>h2{
    font-size: xx-large;
    /* color:black; */
}
.image-box-2>.content-2>p{
    font-size: xx-large;
    line-height:45px;
}
.tax-price-info-2{
        background: linear-gradient(135deg, #12084d 1%, #3567b7 41%, #3a9ecf 99%, 
        #207cca 99%);
        color:white;
        position: absolute;
        bottom:35px;
        left:0px;
        box-sizing: border-box;
        font-size: 22px;
        padding:10px 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width:100%;
        transition:0.5s;
}
:hover>.animation-image-2{
    scale:1.2;
}

:hover>.tax-price-info-2{
    font-size: 25px;
}

.button-2>a{
    color:transparent;
    background:transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:10px 25px;
    text-decoration:none;
    display: block;
    font-size: 11px;
    margin-top:10px;
}

.button-2{
    position:absolute;
    bottom:13%;
    right:3%;
}
:hover>.button-2>a{
    background-color: #23527C;
    color:white;
    border:1px solid white;
}
:hover>.button-2>a:nth-child(2){
    background-color: #69B342;
}


/* END IMAGE ===========>2<====================*/




/*======================>ALL Deals Section<=====================*/
select{
    padding:10px 200px 10px 5px;
    border:none;
}

input{
    border:none;
    padding:10px 100px 10px 5px;
    background-color: white;

}
.icon{
    padding:5.5px 7px 8px 5px;
    background-color: white;
}
.all-deals-section{
    padding:20px;
}
.all-deals-section>h1{
    padding: 40px 40px;

}
.input-for-all-deals{
    box-sizing: border-box;
    background-color: #B7D8ED;
    width: 99%;
    margin:0 auto;
    min-height:10px;
    /* height: 200px; */
    padding:30px 0px 30px 120px;
    /* padding:50px 0px 50px 120px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-content: center; */
}
button{
    cursor: pointer;
    background: #69b342;
    border: 1px solid #ffffff5e;
    border-radius: 0px;
    padding: 10 25px;
    font-size: 13px;
    /* display: block; */
    width: 25%;
    height: 40px;
    color:#eee;
    margin-left:10px;
}

/*======================>END ALL Deals Section<=====================*/







#padding-main{
    padding:0px 40px;
}
/*Menu bar for mobile version*/
.menu-bar{
    background-color: green;
    width: 50px;
    height:100vh;
    display: none;
}

h1{
    color:#00557a;
    font-size: 58px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    /* font-weight: 0px; */
    color:#69b342;
}

/*====>hero banner section<===*/
.main-container{
    width:1200px;
    /* border:3px solid red; */
    margin:0 auto;
}
/*=====><======*/
.hero-section{
    width:100%;
    /* border:5px solid black; */
}
.hero-section>img{
    width: 100%;
}

/*================>gif images section<====================*/
.gif-images>img{
    width: 47%;
    margin:10px;
}
/* main section of gif images*/
.gif-images{
    padding:50px 0px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */

    /* padding:10px; */
    /* justify-content: center; */
    /* align-items: center; */
}

/*=====================>animated images section 4<======================*/
.last-flight-deals>h1{
    padding: 40px 40px;
}
/* .animated-images>img{
    width:47%;
    margin-top: 10px;
}
.animated-images{
    justify-content: space-evenly;
    display: flex;
    flex-wrap:wrap ;
} */

/*==============>value added services section/<===================*/
.value-added-services>h1{
    padding: 40px 40px;
}
.value-images>.img{
    width: 31.3%;
    margin: 3px;
    /* margin: 1px; */
}
.value-images{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/*===================>FOOTER<==================*/
.footer-col1>h5,.footer-col2>h5,.footer-col3>h5,.footer-col4>h5{
    padding:20px 0px;   
}

.footer-col1>p,.footer-col2>p,.footer-col3>p,.footer-col4>p{
    cursor: pointer;
}

.footer{
    width:100%;
    padding:40px 5px;
    display: flex;
    justify-content: space-evenly;
}

.copyright{
    width:100%;
    text-align: center;
    padding:10px 20px;
    background:linear-gradient(535deg, rgb(18, 8, 77) 1%, rgb(53, 103, 183) 41%, rgb(58, 158, 207) 99%, rgb(32, 124, 202) 99%);
}
.copyright>small{
    color:white;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    /* font-weight: 5000px; */
    /* background-color: black; */
}



/*==========================>MEDIA QUERY<==================*/
@media screen and (max-width:600px){
    #padding-main{
        padding:15px;
    }

    .animated-images{
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        /* justify-content: center; */
    }


    /*image 1*/
.image-box{
    width:100%;
    /* border:1px solid black; */
    margin:0px;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    }
    
    .image-box>img{
        width:100%;
        height:auto;
        object-fit: cover;
        /* overflow: hidden; */
        transition: 0.5s;
    }
    
    :hover>.animation-image-1{
        scale: 1.2;
    }
    
    .content{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: 35px;
        font-size: x-large;
        background:transparent;
        /* background-color:rgba(0,0,0,0.2); */
        color:white;
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        transition:all 0.3s;
        padding:20px 20px;
    }
    
    .image-box>.button{
        position: absolute;
        bottom:20px;
        right:10px;
        /* overflow: hidden; */
    }
    
    .image-box>.button>a{
        color:transparent;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 12px;
        background-color:transparent;
        display: block;
        margin:15px;
        /* width:100%; */
        /* height:100%; */
        padding:7px 20px;
        transition: 0.5s;
    }
    
    :hover>.button>a{
        background-color: #23527c;
        border:1px solid #bebebe;
        color:white;
    }
    :hover>.button>a:last-child{
        background-color: #69b342;
    }
    
    .tax-price-info{
        background: linear-gradient(135deg, #12084d 1%, #3567b7 41%, #3a9ecf 99%, 
        #207cca 99%);
        color:white;
        padding:10px 15px;
        position:absolute;
        bottom:30px;
        z-index: 0;
        transition: 0.5s;
        width:100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    :hover>.tax-price-info{
        font-size: 12px;
    }
/*end image 1*/


/*IMAGE ===========>2<====================*/
.image-box-2{
    width: 100%;
    /* border:2px solid black; */
    margin:0;
    margin-bottom: 20px;
    position:relative;
    /* min-height:100vh; */
    overflow:hidden;
}

.image-box-2>img{
    width:100%;
    height:auto;
    transition:all 0.5s;
}
.image-box-2>.content-2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: lightblue; */
    position: absolute;
    top:10px;
    left:6%;
    color:#fff;
    /* position:relative; */
    line-height:30px;
}
.image-box-2>.content-2>h2{
    font-size: xx-large;
    /* color:black; */
}
.image-box-2>.content-2>p{
    font-size: xx-large;
    line-height:45px;
}
.tax-price-info-2{
        background: linear-gradient(135deg, #12084d 1%, #3567b7 41%, #3a9ecf 99%, 
        #207cca 99%);
        color:white;
        position: absolute;
        bottom:35px;
        left:0px;
        box-sizing: border-box;
        font-size: 12px;
        padding:10px 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width:100%;
        transition:0.5s;
}
:hover>.animation-image-2{
    scale:1.2;
}

:hover>.tax-price-info-2{
    font-size: 25px;
}

.button-2>a{
    color:transparent;
    background:transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:7px 20px;
    text-decoration:none;
    display: block;
    font-size: 11px;
    margin-top:10px;
}

.button-2{
    position:absolute;
    bottom:13%;
    right:3%;
}
:hover>.button-2>a{
    background-color: #23527C;
    color:white;
    border:1px solid white;
}
:hover>.button-2>a:nth-child(2){
    background-color: #69B342;
}


/* END IMAGE ===========>2<====================*/













    .menu-bar{
        z-index: 5;
        background-color:rgba(25, 65, 100, 0.5);
        border-bottom: 1px groove #69b342;
        border-right: 1px groove #69b342;
        border-left: 1px groove #69b342;
        /* box-shadow: 2px 2px 50px rgb(0, 85, 122); */
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        /* position: sticky; */
        /* position: sticky; */
        position: fixed;
        /* top: auto; */
        top: 0;
    }
.menu-bar>p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:15px;
    font-size: 12px;
    letter-spacing: 2px;
}
    .menu-bar>p:hover{
        background-color: rgb(174, 94, 94);
    }
    .all-deals-section>h1{
        font-size:25px;
        text-align:left;
        /* padding: 0; */
        padding-left: 0px;
        margin: 0;
        padding-bottom: 20px;
    }

    /* .input-for-all-deals{

    } */

    select{
        /* position: relative; */
        /* top:0; */
        display: block;
        margin-left: auto;
        margin-right:auto;
        margin-top:20px;
        width: 80%;
        padding:10px 20px 10px 20px;
        border:none;
    }
    
    input{
        width: 80%;
        border:none;
        /* display: block; */
        padding:5px 10px 10px 5px;
        /* margin:20px auto; */
        
        margin-left: auto;
        margin-right:auto;
        margin-top:20px;
        background-color: white;
    
    }
    .icon{
        display: none;
        padding:5.5px 7px 8px 5px;
        background-color: white;
    }
    .all-deals-section{
        padding:0px;
    }

    .input-for-all-deals{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color:#B7D8ED;
        width: 100%;
        margin:0;
        min-height:10px;
        /* height: 20px; */
        /* padding:0px; */
        padding:10px 10px 10px 10px;
        /* display: flex; */
        /* justify-content: center; */
        /* align-content: center; */
    }
    button{
        cursor: pointer;
        background: #69b342;
        border: 1px solid #ffffff5e;
        border-radius: 0px;
        padding:0;
        font-size:10px;
        /* display: block; */
        width: 50%;
        margin:20px auto;
        /* height: 10px; */
        color:#fff;
        /* margin-left:10px; */
    }







    .main-container{
        width: 100% !important;
        margin: 0 auto;
    }

    .hero-section>img{
        object-position: top left;
        height: 200px;
        object-fit: cover;
        width: 100% !important;
    }
    .gif-images{
        flex-direction: column;
    }
    .gif-images>img{
        width:100%;
        margin:0px;
        padding:0px;
        margin-top:10px;
    }
    .last-flight-deals>h1{
        font-size:25px;
        text-align:left;
        padding: 30px 0;
        /* font-weight: 5000px; */
        padding-left: 0px;
        margin: 0;
    }
    .animated-images{
        flex-direction: column;
    }
    .animated-images>img{
        width: 100%;
    }
    .value-added-services{
        margin-top: 50px;
    }
    .value-added-services>h1{
        font-size:20px;
        text-align:left;
        padding: 0;
        padding-left: 10px;
        margin: 0;
    }
    .value-images>img{
        margin: 0;
        padding: 0;
        width:100%;
    }
    .value-images{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
    .footer-col1,.footer-col2,.footer-col3,.footer-col4{
        text-align: center;
        padding: 20px;
    }





    .value-added-services>h1{
        /* padding: 20px 20px; */
        padding: 40px 0px;
        font-size: 25px;
        /* background-color: yellow; */
    }
    .value-images>.img{
        width: 100%;
        /* border:1px solid black; */
        margin: 0px;
        margin: 1px;
    }
    .value-images{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .value-images>.img>img{
        width:100%;
    }
    .img>h5{
        margin-top:-10px;
        font-size: 20px;
        text-align: center;
    }
    .img>a{
        color:#799780;
        font-size: 15px;
        margin-top:-12px;
        margin-bottom:30px;
        display: block;
        text-align:center;
    }

    .copyright>small{
        letter-spacing: 1px;
        font-size: 10px;
    }


}
